@import "./reset";

body,
html {
  background-color: #eee;
  scroll-behavior: smooth;
}
.headline {
  font-family: sans-serif;
  text-align: center;
  margin: 20px 0 30px;
  font-size: 28px;
  color: #333;
}
.input {
  height: 35px;
  width: 330px;
  border-radius: 5px;
  margin-bottom: 40px;
  font-family: sans-serif;
  font-size: 18px;
  color: #333;
  border: 2px solid #666;
  border-radius: 5px;
  padding: 5px;
  transition: 200ms linear;
  &:focus {
    border: 2px solid rgb(84, 138, 255);
  }
}
.stats-item {
  font-family: sans-serif;
  color: #333;
  & i {
    position: relative;
    top: 6px;
    right: 3px;
  }
}
.stats {
  padding: 10px 0 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  background-color: #fefefeec;
}
.gallery {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  align-items: center;
}
.card__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.card {
  width: 100%;
  border-radius: 11px;
  overflow: hidden;
}
.observe {
  position: relative;
  top: -7px;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms linear;
  transform: scale(1);

  &--hidden {
    // top: 100vh;
    transform: scale(0);
  }
}
.scroll-btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #555;
  border-radius: 50%;
  font-size: 26px;
  font-family: sans-serif;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 6px 6px rgba(0, 0, 0, 0.06), 1px 6px 8px rgba(0, 0, 0, 0.16);
  transition: 200ms linear;
  position: fixed;
  bottom: 20px;
  left: 25px;
  padding-top: 12px;
  &:hover,
  &:active {
    padding-top: 6px;
    color: #fff;
    background-color: #555;
    font-size: 38px;
  }
}
